.articulo {
  container-type: inline-size;
}

.inicio {
  background-image: url("../images/1.jpg");
  background-position: center;
  background-size: cover;
  container-type: inline-size;
}

.inicio__titulo {
  padding-top: 30vh;
  font-size: 5cqw;
  font-weight: 200;

  @container (max-width: #{$tablet-max-width}) {
    font-size: 8cqw;
  }

  @container (max-width: #{$movil-max-width}) {
    font-size: 10cqw;
  }
}

.inicio__autor {
  display: block;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

:is(.inicio__titulo, .inicio__autor) {
  margin: 0;
  text-align: center;
  background-color: color-opacidad($blanco, .5);
}

@supports (display:grid) {
  .seccion {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;

    @media (max-width: $movil-max-width) {
      grid-template-columns: 1fr;
    }
  }

  :is(.seccion:has(> .seccion__lista), .seccion:has(> .seccion__imagen), .seccion:has(> .seccion__cita)) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.seccion {
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-right: 22rem;
  margin-left: 22rem;
  border-bottom: 2px solid $color-bordes;

  @container (max-width: 1200px) {
    margin-right: 8rem;
    margin-left: 8rem;
  }

  @container (max-width: #{$movil-max-width}) {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  &:has(> .seccion__imagen) {
    padding-bottom: 0;
    margin-right: 12rem;
    margin-left: 12rem;
    border-bottom: none;

    .seccion__titulo,
    .seccion__texto {
      margin-right: 10rem;
      margin-left: 10rem;
    }

    .seccion__texto:last-child {
      padding-bottom: 4rem;
      border-bottom: 2px solid $color-bordes;
    }

    @container (max-width: 1200px) {
      margin-right: 4rem;
      margin-left: 4rem;

      .seccion__titulo,
      .seccion__texto {
        margin-right: 4rem;
        margin-left: 4rem;
      }
    }

    @container (max-width: #{$movil-max-width}) {
      margin-right: 0;
      margin-left: 0;

      .seccion__titulo,
      .seccion__texto {
        margin-right: 1rem;
        margin-left: 1rem;
      }
    }
  }

  &:has(> .seccion__cita) {
    border-bottom: none;
  }
}

.seccion__texto {
  margin-bottom: 0;
}

.seccion__imagen {
  width: 100%;
}

.seccion__cita {
  margin-right: 12rem;
  margin-left: 12rem;
  font-style: italic;

  > :last-child {
    font-weight: 700;
  }

  @media (max-width: $tablet-max-width) {
    margin-right: 6rem;
    margin-left: 6rem;
  }

  @media (max-width: $movil-max-width) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

.lista {
  counter-reset: descriptions;
}

.lista__nombre::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  content: counter(descriptions);
  counter-increment: descriptions;
  border: 1px solid $color-bordes;
  border-radius: 50%;
}

.lista__descripcion {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 45px;
}
