.articulo {
  container-type: inline-size;
}

.inicio {
  @include imagen-fondo (url("../images/1.jpg"));
  container-type: inline-size;
}

.inicio__titulo {
  @include padding(30vh, null, null, null);
  font-size: 5cqw;
  font-weight: 200;

  @container (max-width: #{$tablet-max-width}) {
    font-size: 8cqw;
  }

  @container (max-width: #{$movil-max-width}) {
    font-size: 10cqw;
  }
}

.inicio__autor {
  display: block;
  width: 100%;
  @include padding(8rem, null, 8rem, null);
}

:is(.inicio__titulo, .inicio__autor) {
  @include margin(0, 0, 0, 0);
  text-align: center;
  background-color: color-opacidad($blanco, .5);
}

@supports (display:grid) {
  .seccion {
    @include grid(1fr 2fr, null, 2rem);

    @media (max-width: $movil-max-width) {
      @include grid(1fr, null, 2rem);
    }
  }

  :is(.seccion:has(> .seccion__lista), .seccion:has(> .seccion__imagen), .seccion:has(> .seccion__cita)) {
    @include grid(1fr, null, 1rem);
  }
}

.seccion {
  @include padding(4rem, null, 4rem, null);
  @include margin(null, 22rem, null, 22rem);
  border-bottom: 2px solid $color-bordes;

  @container (max-width: 1200px) {
    @include margin(null, 8rem, null, 8rem);
  }

  @container (max-width: #{$movil-max-width}) {
    @include margin(null, 1rem, null, 1rem);
  }

  &:has(> .seccion__imagen) {
    @include padding(null, null, 0, null);
    @include margin(null, 12rem, null, 12rem);
    border-bottom: none;

    .seccion__titulo,
    .seccion__texto {
      @include margin(null, 10rem, null, 10rem);
    }

    .seccion__texto:last-child {
      @include padding(null, null, 4rem, null);
      border-bottom: 2px solid $color-bordes;
    }

    @container (max-width: 1200px) {
      @include margin(null, 4rem, null, 4rem);

      .seccion__titulo,
      .seccion__texto {
        @include margin(null, 4rem, null, 4rem);
      }
    }

    @container (max-width: #{$movil-max-width}) {
      @include margin(null, 0, null, 0);

      .seccion__titulo,
      .seccion__texto {
        @include margin(null, 1rem, null, 1rem);
      }
    }
  }

  &:has(> .seccion__cita) {
    border-bottom: none;
  }
}

.seccion__texto {
  @include margin(null, null, 0, null);
}

.seccion__imagen {
  width: 100%;
}

.seccion__cita {
  @include margin(null, 12rem, null, 12rem);
  font-style: italic;

  > :last-child {
    font-weight: 700;
  }

  @media (max-width: $tablet-max-width) {
    @include margin(null, 6rem, null, 6rem);
  }

  @media (max-width: $movil-max-width) {
    @include margin(null, 1rem, null, 1rem);
  }
}

.lista {
  counter-reset: descriptions;
}

.lista__nombre::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  @include margin(null, 15px, null, null);
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  content: counter(descriptions);
  counter-increment: descriptions;
  border: 1px solid $color-bordes;
  @include borde-redondeado(50%);
}

.lista__descripcion {
  @include padding(1rem, null, 1rem, 45px);
}
