.cabecera {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 2rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  padding-left: 5rem;

  @media (max-width: $tablet-max-width) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media (max-width: $movil-max-width) {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.logo {
  width: fit-content;
  font-weight: 700;
  @media (max-width: $movil-max-width) {
    margin-right: auto;
    margin-left: auto;
  }
}

.logo__enlace {
  text-decoration: none;
}

.cabecera__logo {
  float: left;
  font-size: 2rem;

  @media (max-width: $movil-max-width) {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: $minimo-max-width) {
    font-size: 1.5rem;
  }
}

.cabecera__menu {
  float: right;

  @media (max-width: $movil-max-width) {
    justify-content: center;
    float: none;
  }
}

@supports (display:grid) {
  .cabecera {
    display: grid;
    grid-template-columns: 1.5fr 2fr;

    @media (max-width: $movil-max-width) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  .cabecera__logo {
    float: none;
  }

  .cabecera__menu {
    justify-content: end;
    float: none;

    @media (max-width: $movil-max-width) {
      justify-content: center;
    }
  }
}
