.cabecera {
  position: absolute;
  z-index: 1;
  width: 100%;
  @include padding(2rem, 5rem, 2rem, 5rem);

  @media (max-width: $tablet-max-width) {
    @include padding(null, 2rem, null, 2rem);
  }

  @media (max-width: $movil-max-width) {
    @include padding(null, .5rem, null, .5rem);
  }
}

.pagina--secundaria > :first-child {
  position: relative;
  border-bottom: 2px solid $color-bordes;
}

.logo {
  width: fit-content;
  font-weight: 700;
  @media (max-width: $movil-max-width) {
    @include centrar();
  }
}

.logo__enlace {
  text-decoration: none;
}

.cabecera__logo {
  float: left;
  font-size: 2rem;

  @media (max-width: $movil-max-width) {
    float: none;
    @include centrar();
  }

  @media (max-width: $minimo-max-width) {
    font-size: 1.5rem;
  }
}

.cabecera__menu {
  float: right;

  @media (max-width: $movil-max-width) {
    justify-content: center;
    float: none;
  }
}

@supports (display:grid) {
  .cabecera {
    @include grid(1.5fr 2fr, null, 0);

    @media (max-width: $movil-max-width) {
      @include grid(1fr, null, 2rem);
    }
  }

  .cabecera__logo {
    float: none;
  }

  .cabecera__menu {
    justify-content: end;
    float: none;

    @media (max-width: $movil-max-width) {
      justify-content: center;
    }
  }
}
