@supports (display:grid) {
  .cabecera {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.cabecera {
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
}
