.cocineros {
  @include padding(null, 8cqw, null, 8cqw);
  container-type: inline-size;

  @container (max-width: #{$tablet-max-width}) {
    @include padding(null, 5cqw, null, 5cqw);
  }

  @container (max-width: #{$movil-max-width}) {
    @include padding(null, 3cqw, null, 3cqw);
  }
}

.pagina--secundaria > :first-child {
  position: relative;
  border-bottom: 2px solid $color-bordes;
}

.cocineros__titulo {
  @include padding(5rem, null, null, null);
  text-align: center;
}

.cocineros__reticula {
  display: flex;
  flex-wrap: wrap;
}

.cocinero {
  container-type: inline-size;

  @container (max-width: 300px) {
    font-size: 12px;
    line-height: 1.4;
  }
}

.reticula__cocinero {
  flex-basis: calc(33.33% - 50px);
  @include margin(25px, 25px, 25px, 25px);

  @media (max-width: $tablet-max-width) {
    flex-basis: calc(50% - 50px);
  }

  @media (max-width: $movil-max-width) {
    flex-basis: calc(100% - 50px);
  }
}
