// Capa para los estilos concretos de la retícula flex
@layer reticula {
  .cocineros__reticula {
    display: flex;
    flex-wrap: wrap;
  }

  .reticula__cocinero {
    flex-basis: calc(33.33% - 50px);
    @include margin(25px, 25px, 25px, 25px);

    @media (max-width: $tablet-max-width) {
      flex-basis: calc(50% - 50px);
    }

    @media (max-width: $movil-max-width) {
      flex-basis: calc(100% - 50px);
    }
  }
}

// Capa para los estilos concretos de la página
@layer cocineros {
  .cocineros {
    @include padding(null, 8cqw, null, 8cqw);
    container-type: inline-size;

    @container (max-width: #{$tablet-max-width}) {
      @include padding(null, 5cqw, null, 5cqw);
    }

    @container (max-width: #{$movil-max-width}) {
      @include padding(null, 3cqw, null, 3cqw);
    }
  }

  .cocineros__titulo {
    @include padding(5rem, null, null, null);
    text-align: center;
  }

  .cocinero {
    container-type: inline-size;

    @container (max-width: 300px) {
      font-size: 12px;
      line-height: 1.4;
    }
  }
}
