.galeria,
.contacto {
  @include padding(10dvh, null, 10dvh, null);
}

.galeria {
  background-color: color(display-p3 1 .69 0 / .25);
  container-type: inline-size;
}

.contacto__titulo,
.galeria__titulo {
  text-align: center;
}

.contacto__formulario,
.galeria__carrusel {
  @include padding(4cqh, null, null, null);
  @include margin(null, 15cqw, null, 15cqw);
}

.galeria__carrusel {
  @container (max-width: #{$tablet-max-width}) {
    @include margin(null, 10cqw, null, 10cqw);
  }
  @container (max-width: #{$movil-max-width}) {
    @include margin(null, 0, null, 0);
  }
}
