* {
  box-sizing: border-box;
}

.pagina {
  height: 100vh;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $color-fondo;
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  text-align: center;
  background-image: url("../images/2.jpg");
  background-position: center;
  background-size: cover;
  container-type: inline-size;
}

.poster__texto {
  padding-right: 22cqw;
  padding-bottom: 5rem;
  padding-left: 22cqw;
  margin: 0;
  background-color: $color-fondo-semitransparente;

  @container (max-width: #{$tablet-max-width}) {
    padding-right: 12cqw;
    padding-left: 12cqw;
  }

  @container (max-width: #{$movil-max-width}) {
    padding-right: 3cqw;
    padding-left: 3cqw;
  }
}

.poster__titulo {
  padding-top: 5rem;
  padding-right: 22cqw;
  padding-left: 22cqw;
  margin: 0;
  background-color: $color-fondo-semitransparente;

  @container (max-width: #{$tablet-max-width}) {
    padding-right: 12cqw;
    padding-left: 12cqw;
  }

  @container (max-width: #{$movil-max-width}) {
    padding-right: 3cqw;
    padding-left: 3cqw;
  }
}

@supports (display:grid) {
  .pagina {
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
  }

  .poster {
    display: grid;
    grid-template-rows: auto max-content;
  }

  .poster__titulo {
    align-self: end;
  }
}
