* {
  box-sizing: border-box;
}

.pagina {
  height: 100vh;
  @include margin(0, 0, 0, 0);
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: color-opacidad($blanco, 1);
}

.poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  text-align: center;
  @include imagen-fondo (url("../images/2.jpg"));
  container-type: inline-size;
}

.poster__texto {
  @include padding(null, 22cqw, 5rem, 22cqw);

  @include margin(0, 0, 0, 0);
  background-color: color-opacidad($blanco, .5);

  @container (max-width: #{$tablet-max-width}) {
    @include padding(null, 12cqw, null, 12cqw);
  }

  @container (max-width: #{$movil-max-width}) {
    @include padding(null, 3cqw, null, 3cqw);
  }
}

.poster__titulo {
  @include padding(5rem, 22cqw, null, 22cqw);
  @include margin(0, 0, 0, 0);
  background-color: color-opacidad($blanco, .5);

  @container (max-width: #{$tablet-max-width}) {
    @include padding(null, 12cqw, null, 12cqw);
  }

  @container (max-width: #{$movil-max-width}) {
    @include padding(null, 3cqw, null, 3cqw);
  }
}

@supports (display:grid) {
  .pagina {
    @include grid(null, 1fr 6fr 3fr, 0);
  }

  .poster {
    @include grid(null, auto max-content, 0);
  }

  .poster__titulo {
    align-self: end;
  }
}
