.pie {
  @include padding(2rem, 5rem, 2rem, 5rem);
  text-align: center;

  @media (max-width: $tablet-max-width) {
    @include padding(null, 2rem, null, 2rem);
  }

  @media (max-width: $movil-max-width) {
    @include padding(null, .5rem, null, .5rem);
  }
}

.navegacion {
  @include padding(1rem, null, null, null);
  border-top: 2px solid $color-bordes;
}

.info {
  @include padding(5rem, null, 5rem, null);
  @include centrar();

  @media (max-width: $tablet-max-width) {
    @include padding(2.5rem, null, 2.5rem, null);
  }
}

.info__telefono {
  text-decoration: none;
}

.navegacion__logo {
  @include centrar();
  font-size: 1.5rem;
  line-height: 1.5;
}

.rrss {
  justify-self: end;
  font-size: 1.2rem;

  @media (max-width: $tablet-max-width) {
    justify-self: center;
  }
}

@supports (display:grid) {
  .pie {
    @include grid(1fr, auto auto, 0);
    height: fit-content;
  }

  .navegacion {
    @include grid(1fr 2fr 1fr, null, 0);

    @media (max-width: $tablet-max-width) {
      @include grid(1fr, null, 1.5rem);
    }
  }

  .navegacion__logo {
    @include margin(null, null, null, 0);

    @media (max-width: $tablet-max-width) {
      @include centrar();
    }
  }
}
