<div class="cabecera">
    <div class="logo cabecera__logo">
        <i class="logo__icono fas fa-burger text-secondary"></i>
        <span class="logo__texto text-primary">Cocínate Vejer</span>
    </div>
    <ul class="menu nav cabecera__menu">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/cocineros">Cocineros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historia">Historia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/eventos">Eventos</a>
      </li>
    </ul>
</div>
