<div class="cabecera">
    <div class="logo cabecera__logo">
      <a href="./index.html" class="logo__enlace">
        <i class="logo__icono fas fa-burger text-secondary"></i>
        <span class="logo__texto text-primary">Cocínate Vejer</span>
      </a>
    </div>
    <ul class="menu nav cabecera__menu">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="./cocineros.html">Cocineros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./articulo.html">Historia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./contacto.html">Apúntate</a>
      </li>
    </ul>
</div>
