<div class="cabecera">
    <div class="logo cabecera__logo">
        <i class="logo__icono fas fa-burger text-primary"></i>
        <span class="logo__texto text-primary">Cocínate Vejer</span>
    </div>
    <ul class="menu nav justify-content-end cabecera__menu">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Cocineros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Historia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Eventos</a>
      </li>
    </ul>
</div>
